<link rel="stylesheet" href="/static/midijs.css">
<div style="min-height: 32px;display: flex;justify-content: center;align-items: center;width:<%= width %>">
    <div id="stop<%= id %>" class="midibutton midistop"></div>
    <div id="play<%= id %>" class="midibutton midiplay"></div>
    <div class="miditime" id="startTime<%= id %>">00:00</div>
    <div id="line<%= id %>" class="midiline">
        <div id="ball<%= id %>" class="midiball"></div>
    </div>
    <div class="miditime" id="duration<%= id %>">00:00</div>
</div>
<script type='text/javascript' src='https://www.midijs.net/lib/midi.js'></script>
<script>
    let url<%= id %> = '<%= url %>';
    let duration_second<%= id %> = 0;
    let current_second<%= id %> = -1;
    var isWork = false;
    let isFirst<%= id %> = true;
    let isPlay<%= id %> = false;
    var currentPlayId = "";
    const ball<%= id %> = document.getElementById("ball<%= id %>");
    const startTime<%= id %> = document.getElementById("startTime<%= id %>");
    const play<%= id %> = document.getElementById("play<%= id %>");
    function prefixAdd(num, length) {
        return (Array(length).join('0') + num).slice(-length);
    }
    function sec2min(sec) {
        return prefixAdd(parseInt(sec / 60), 2) + ":" + prefixAdd(parseInt(sec % 60), 2);
    }
    //callback for updating current_second
    function callback<%= id %>(event) {
        if (event.time - current_second<%= id %> >= 1) {
            current_second<%= id %> = event.time;
            startTime<%= id %>.innerHTML = sec2min(event.time);
            ball<%= id %>.style.left = event.time / duration_second<%= id %> * document.getElementById("line<%= id %>").offsetWidth - 7.5 + 'px';
        }
    }
    if (MIDIjs.get_audio_status().match(/WebAudio/)) {
        isWork = true;
    }

    play<%= id %>.onclick = isWork ? function () {
        if (isFirst<%= id %>) {
            //get_duration
            MIDIjs.get_duration(url<%= id %>, function (seconds) {
                duration_second<%= id %> = seconds;
                document.getElementById("duration<%= id %>").innerHTML = sec2min(seconds);
            });

            MIDIjs.play(url<%= id %>);
            isFirst<%= id %> = false;
            isPlay<%= id %> = true;
            currentPlayId = '<%= id %>';
            play<%= id %>.style.background = 'url("/static/midijs_button.png") -32px 0 no-repeat';
            play<%= id %>.style.backgroundColor = 'rgb(202, 202, 202)';
            
            MIDIjs.player_callback = function(event) {
                callback<%= id %>(event);
            }
        } else {
            if (isPlay<%= id %>) {
                MIDIjs.pause();
                isPlay<%= id %> = false;
                play<%= id %>.style.background = 'url("/static/midijs_button.png") 0 0 no-repeat';
                play<%= id %>.style.backgroundColor = 'rgb(202, 202, 202)';
            } else {
                if(currentPlayId!='<%= id %>') {
                    ball<%= id %>.style.left = "-7.5px";
                    startTime<%= id %>.innerHTML = "00:00";
                    MIDIjs.play(url<%= id %>);
                    currentPlayId = '<%= id %>';
                } else {
                    MIDIjs.resume();
                }
                isPlay<%= id %> = true;
                play<%= id %>.style.background = 'url("/static/midijs_button.png") -32px 0 no-repeat';
                play<%= id %>.style.backgroundColor = 'rgb(202, 202, 202)';

                MIDIjs.player_callback = function(event) {
                callback<%= id %>(event);
            }
            }
        }
    } : null;
    document.getElementById("stop<%= id %>").onclick = function () {
        MIDIjs.stop();
        ball<%= id %>.style.left = "-7.5px";
        startTime<%= id %>.innerHTML = "00:00";
        play<%= id %>.style.background = 'url("/static/midijs_button.png") 0 0 no-repeat';
        play<%= id %>.style.backgroundColor = 'rgb(202, 202, 202)';
        isFirst<%= id %> = true;
        isPlay<%= id %> = false;
        current_second<%= id %> = -1;
        currentPlayId = '<%= id %>';
    }
</script>